/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ___ &trans

#define eAT RA(AT)
#define eCLN LS(DOT)
#define eDLLR RA(DLLR)
#define eEURO RA(PRCNT)
#define eHASH RA(HASH)
#define eLBKT RA(STAR)
#define eLBRC RA(AMPS)
#define eRBKT RA(LPAR)
#define eRBRC RA(RPAR)
#define eSEMI LS(COMMA)

#define DEF 0
#define NUM 1
#define NAV 2
#define HUB 3
#define LOL1 4
#define LOL2 5

/ {
        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                        if-layers = <NUM NAV>;
                        then-layer = <HUB>;
                };
        };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐   ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
// │ TAB       │ Q         │ W         │ E         │ R         │ T         │   │ Y         │ U         │ I         │ O         │ P         │ Ü         │
     &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T           &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │ CTRL      │ A         │ S         │ D         │ F         │ G         │   │ H         │ J         │ K         │ L         │ Ö         │ Ä         │
     &kp LCTRL   &kp A       &kp S       &kp D       &kp F       &kp G           &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │ LALT      │ Z         │ X         │ C         │ V         │ B         │   │ N         │ M         │ ,         │ .         │ -         │ Õ         │
     &kp LALT    &kp Z       &kp X       &kp C       &kp V       &kp B           &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp RBKT
// └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘
//                                     │ SHFT      │ RSE       │ SPC       │   │ ENT       │ LWR       │ BKSP      │
                                         &kp LSHFT   &mo NAV     &kp SPACE       &kp RET     &mo NUM     &kp BSPC
//                                     └───────────┴───────────┴───────────┘   └───────────┴───────────┴───────────┘
                        >;
                };
                lower_layer {
                        bindings = <
// ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐   ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
// │ TAB       │ 1         │ 2         │ 3         │ 4         │ 5         │   │ 6         │ 7         │ 8         │ 9         │ 0         │           │
     ___         &kp N1      &kp N2      &kp N3      &kp N4      &kp N5          &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &none
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │ CTRL      │           │           │           │ LGUI      │ ESC       │   │ DEL       │ ←         │ ↓         │ ↑         │ →         │           │
     ___         &none       &none       &none       &kp LGUI    &kp ESC         &kp DEL     &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &kp F12
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │ LALT      │ F1        │ F2        │ F3        │ F4        │ F5        │   │ F6        │ F7        │ F8        │ F9        │ F10       │           │
     ___         &kp F1      &kp F2      &kp F3      &kp F4      &kp F5          &kp F6      &kp F7      &kp F8      &kp F9      &kp F10     &kp F11
// └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘
//                                     │ SHFT      │ RSE       │ SPC       │   │ ENT       │ LWR       │ BKSP      │
                                         ___         ___         ___             ___         ___         ___
//                                     └───────────┴───────────┴───────────┘   └───────────┴───────────┴───────────┘
                        >;
                };

                raise_layer {
                        bindings = <
// ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐   ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
// │ ˇ         │ ?         │ @         │ £         │ $         │ €         │   │ &         │ {         │ {         │ [         │ ]         │           │
     &kp GRAVE   &kp UNDER   &kp eAT     &kp eHASH   &kp eDLLR   &kp eEURO       &kp CARET   &kp eLBRC   &kp eRBRC   &kp eLBKT   &kp eRBKT   &none
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │ CTRL      │ !         │ "         │ #         │ ¤         │ %         │   │ /         │ (         │ )         │ <         │ >         │ =         │
     ___         &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT       &kp AMPS    &kp STAR    &kp LPAR    &kp NUBS    &kp PIPE2   &kp RPAR
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │ LALT      │           │           │           │ '         │           │   │ *         │ +         │ ;         │ :         │ _         │           │
     ___         &none       &none       &none       &kp BSLH    &none           &kp PIPE    &kp MINUS   &kp eSEMI   &kp eCLN    &kp QMARK   &none
// └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘
//                                     │ SHFT      │ RSE       │ SPC       │   │ ENT       │ LWR       │ BKSP      │
                                         ___         ___         ___             ___         ___         ___
//                                     └───────────┴───────────┴───────────┘   └───────────┴───────────┴───────────┘
                        >;
                };

                hub_layer {
                        bindings = <
// ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐   ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
// │           │ DEF       │ LOL       │           │           │           │   │           │           │           │           │           │           │
     &none       &to DEF     &to LOL1    &none       &none       &none           &none       &none       &none       &none       &none       &none
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │           │           │           │           │           │           │   │           │           │           │           │           │           │
     &none       &none       &none       &none       &none       &none           &none       &none       &none       &none       &none       &none
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │           │           │           │           │           │           │   │           │           │           │           │           │           │
     &none       &none       &none       &none       &none       &none           &none       &none       &none       &none       &none       &none
// └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘
//                                     │           │           │           │   │           │           │           │
                                         &none       &none       &none           &none       &none       &none
//                                     └───────────┴───────────┴───────────┘   └───────────┴───────────┴───────────┘
                        >;
                };

                lol_1_layer {
                        bindings = <
// ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐   ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
// │ TAB       │ 1         │ 2         │ 3         │ 4         │ 5         │   │           │           │           │           │           │           │
     &kp TAB     &kp N1      &kp N2      &kp N3      &kp N4      &kp N5          &none       &none       &none       &none       &none       &none
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │ CTRL      │ Q         │ W         │ E         │ R         │ T         │   │           │           │           │           │           │           │
     &kp LCTRL   &kp Q       &kp W       &kp E       &kp R       &kp T           &none       &none       &none       &none       &none       &none
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │ SHFT      │ C         │ S         │ D         │ F         │ B         │   │           │           │           │           │           │           │
     &kp LSHFT   &kp C       &kp S       &kp D       &kp F       &kp B           &none       &none       &none       &none       &none       &none
// └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘
//                                     │ LALT      │ LOL       │ SPC       │   │           │ DEF       │           │
                                         &kp LALT    &mo 5       &kp SPACE       &none       &to DEF     &none
//                                     └───────────┴───────────┴───────────┘   └───────────┴───────────┴───────────┘
                        >;
                };

                lol_2_layer {
                        bindings = <
// ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐   ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
// │ ˇ         │ F1        │ F2        │ F3        │ F4        │ F5        │   │           │           │           │           │           │           │
     &kp GRAVE     &kp F1      &kp F2      &kp F3      &kp F4      &kp F5          &none       &none       &none       &none       &none       &none
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │           │           │           │ P         │ G         │ ESC       │   │           │           │           │           │           │           │
     &none       &none       &none       &kp P       &kp G       &kp ESC         &none       &none       &none       &none       &none       &none
// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │           │ Z         │           │           │ M         │ N         │   │           │           │           │           │           │           │
     &none       &kp N       &none       &none       &kp M       &kp N           &none       &none       &none       &none       &none       &none
// └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘
//                                     │           │ LOL       │           │   │           │ DEF       │           │
                                         &none       ___         &none           &none       ___         &none
//                                     └───────────┴───────────┴───────────┘   └───────────┴───────────┴───────────┘
                        >;
                };

        };
};



// for coping empty layer
// ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐   ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐
// │           │           │           │           │           │           │   │           │           │           │           │           │           │

// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │           │           │           │           │           │           │   │           │           │           │           │           │           │

// ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤
// │           │           │           │           │           │           │   │           │           │           │           │           │           │

// └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┤   ├───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘
//                                     │           │           │           │   │           │           │           │

//                                     └───────────┴───────────┴───────────┘   └───────────┴───────────┴───────────┘